[Desktop Entry]
Name=Boot Android
Name[zh_CN]=安卓系统
Comment=Switch boot to Android system
Comment[zh_CN]=切换到安卓系统
Exec=b2android-gui.sh
Icon=b2android
Terminal=false
StartupNotify=false
Type=Application
Categories=GTK;System;Monitor;

